.footer {
    background-color: $black;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__text {
        color: #fff;
        font-size: 16px;
        line-height: 20px;
        max-width: 270px;
        margin: 0;
    }
    &-agreement {
        display: flex;
        align-items: center;
        &__btn {
            font-family: "Montserrat-Regular", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: $blue;
            text-decoration: underline;
            text-align: left;
            padding: 0;
            max-width: 240px;
            color: #fff;
            text-decoration-color: #fff;
            transition: text-decoration .2s ease-in-out;
            &:hover {
                text-decoration-color: transparent;
            }
        }
    }
}

.site-developer {
    display: flex;
    align-items: center;
    &__info {
        display: inline-flex;
    }
    &__text {
        color: #fff;
        font-size: 16px;
        line-height: 20px;
        margin: 0;
        max-width: 170px;
    }
    &__link {
        color: $blue;
        text-decoration: underline;
        font-size: 16px;
        line-height: 20px;
        text-decoration-color: $blue;
        transition: text-decoration .2s ease-in-out;
        &:hover {
            text-decoration-color: transparent;
        }
    }
    .proseo {
        max-width: 100px;
        height: auto;
    }
}
