@import "../mixins";

.footer {
    background-color: $black;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include desktop-sm {
            padding: 30px 15px 40px 15px;
            align-items: flex-start;
        }
        @include mobile-sm {
            flex-direction: column;
        }
    }
    &__text {
        color: #fff;
        font-size: 16px;
        line-height: 20px;
        max-width: 270px;
        margin: 0;

        @include desktop-sm {
            margin-bottom: 10px;
        }
        @include mobile-sm {
            margin-bottom: 20px;
        }
    }
    &-agreement {
        display: flex;
        align-items: center;

        @include mobile-sm {
            margin: 13px 0 17px 0;
        }
        &__btn {
            font-family: "Montserrat-Regular", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: $blue;
            text-decoration: underline;
            text-align: left;
            padding: 0;
            max-width: 240px;
            color: #fff;
            text-decoration-color: #fff;
            transition: text-decoration .2s ease-in-out;
            &:hover {
                text-decoration-color: transparent;
            }
            @include mobile-sm {
                max-width: max-content;
            }
        }

        @include desktop-sm {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

.site-developer {
    display: flex;
    align-items: center;

    @include desktop-sm {
        flex-direction: column;
        align-items: flex-start;
    }
    @include mobile-sm {
        flex-direction: row;
        align-items: center;
    }
    &__info {
        display: inline-flex;
    }
    &__text {
        color: #fff;
        font-size: 16px;
        line-height: 20px;
        margin: 0;
        max-width: 170px;

        @include desktop-sm {
            margin-bottom: 10px;
        }
    }
    &__link {
        color: $blue;
        text-decoration: underline;
        font-size: 16px;
        line-height: 20px;
        text-decoration-color: $blue;
        transition: text-decoration .2s ease-in-out;
        &:hover {
            text-decoration-color: transparent;
        }
    }
    .proseo {
        max-width: 100px;
        height: auto;

        @include desktop-sm {
            height: 60px;
        }
    }
}
