@import "../mixins";

.header {
    padding: 30px 0;

    @include mobile {
        padding: 20px 0 10px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        @include mobile {
            max-width: 130px;
        }
    }
    &-info {
        display: flex;
        align-items: center;
        &__address {
            font-style: normal;
            max-width: 243px;
            padding-left: 30px;
            position: relative;
            font-family: 'Montserrat-Regular';
            font-size: 16px;
            line-height: 20px;
            &::before {
                content: url('../img/location.svg');
                position: absolute;
                width: 20px;
                height: 30px;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
        &__location {
            @include desktop-sm {
                display: none;
            }
        }
        &__number {
            display: block;
            font-family: 'Montserrat-Bold';
            font-size: 16px;
            line-height: 20px;
            color: $black;
            transition: color .2s ease-in-out;
            &:hover {
                color: $blue;
            }
            + &__number {
                margin-top: 3px;
                width: 500px;
            }
            @include mobile {
                font-size: 13px;
                line-height: 19px;
            }
            &:nth-child(2) {
                @include desktop-sm {
                    display: none;
                }
            }
        }
        &__btn {
            margin-left: 35px;
            @include desktop-sm {
                display: none;
            }
        }
        &__phones {
            margin-left: 35px;
            position: relative;
            

            @include mobile-sm {
                margin-left: 0;
            }

            @media (max-width: 350px) {
                display: none;
            }
        }

        &__number {
            position: relative;
            padding-left: 40px;

            @include mobile-sm {
                padding-left: 34px;
            }

            &::before {
                content: url('../img/phone.svg');
                position: absolute;
                left: 0;
                top: 25%;

                @include desktop-sm {
                    top: 50%;
                    transform: translateY(-50%);
                }

                @include mobile {
                    width: 25px;
                    height: 25px;
                    top: 35%;
                }
            }

            &:nth-child(2):before {
                display: none;
            }
        }

        &__burger {
            display: none;
            position: relative;
            z-index: 1111;
            width: 35px;
            height: 35px;
            background-color: $black;
            border-radius: 50%;
            margin-left: 15px;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: 0.3s ease-in-out;
            -moz-transition: 0.3s ease-in-out;
            -o-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;

            span {
                width: 19px;
                height: 2px;
                background-color: #fff;
                position: absolute;
                transition: 0.3s ease-in-out;
                left: 8px;

                &:nth-child(1) {
                    top: 10px;
                }

                &:nth-child(2) {
                    top: 16px;
                }

                &:nth-child(3) {
                    bottom: 11px;
                }
            }

            &.active span:nth-child(1) {
            top: 17px;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
            }

            &.active span:nth-child(2) {
            opacity: 0;
            left: -10px;
            }

            &.active span:nth-child(3) {
            top: 17px;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
            }

            @include desktop-sm {
                display: flex;
            }

            @include mobile-sm {
                margin-left: 5px;
            }
        }
    }
}
