@import "../mixins";

.header {
    padding: 30px 0;

    @include mobile {
        padding: 20px 10px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        max-width: 130px;
    }
    &-info {
        display: flex;
        align-items: center;
        &__address {
            font-style: normal;
            max-width: 243px;
            padding-left: 30px;
            position: relative;
            font-family: 'Montserrat-Regular';
            font-size: 16px;
            line-height: 20px;
            &::before {
                content: url('../img/location.svg');
                position: absolute;
                width: 20px;
                height: 30px;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
        &__location {
            @include desktop-sm {
                display: none;
            }
        }
        &__number {
            display: block;
            font-family: 'Montserrat-Bold';
            font-size: 16px;
            line-height: 20px;
            color: $black;
            transition: color .2s ease-in-out;
            &:hover {
                color: $blue;
            }
            + &__number {
                margin-top: 3px;
                width: 500px;
            }
            @include mobile {
                font-size: 13px;
                line-height: 19px;
            }
            &:nth-child(2) {
                @include desktop-sm {
                    display: none;
                }
            }
        }
        &__btn {
            margin-left: 35px;
            @include desktop-sm {
                display: none;
            }
        }
        &__phones {
            margin-left: 35px;
            padding-left: 40px;
            position: relative;
            &::before {
                content: url('../img/phone.svg');
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            @include mobile-sm {
                margin-left: 10px;  
            }

            @media (max-width: 395px) {
                display: none;
            }
        }

        &__burger {
            display: none;
            position: relative;
            z-index: 1111;
            width: 35px;
            height: 35px;
            background-color: $black;
            border-radius: 50%;
            margin-left: 15px;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            span {
                width: 19px;
                height: 2px;
                background-color: #fff;

                &:nth-child(2) {
                    margin: 3px 0;
                }
            }

            @include desktop-sm {
                display: flex;
            }
        }
    }
}
