@import "../mixins";

.nav {
  position: fixed;
  width: 100px;
  height: 100%;
  padding: 50px 0 10px;

  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(111, 135, 157, 0.2);
  z-index: 1000;
  transition: transform 0.2s ease-in-out;

  @include desktop-sm {
    padding: 35px 30px 30px;
    width: 80%;
    right: 0;
    background-color: $blue;
    transform: translateX(100%);
    will-change: transform;
    overflow-y: auto;
    overflow-x: hidden;
  }

  @include mobile-ex-sm {
    padding: 35px 17px 30px;
  }

  &__logo {
    display: none;
    margin-bottom: 45px;

    @include desktop-sm {
      display: block;
      max-width: 163px;
      max-height: 35px;
    }
  }

  &__list {
      margin: 0;
  }

  &.active {
    transform: translateX(0);
  }

  &__logo {

  }

  &__link-phone {
  .nav-item__icon {
    background-color: $blue;
    transition: background-color 0.2s ease-in-out;
    color: #fff;
    border: 2px solid $blue;

    svg {
      color: #fff;
      fill: #fff;
    }

    @include desktop-sm {
      background-color: #fff;
      color: $blue;

      svg {
        fill: $blue;
        stroke: transparent;
      }

      &:hover {
      background-color: $catskillWhite;
        svg {
          stroke: $blue;
          fill: $blue;
        }
      }
    }

    &:hover {
      background-color: $catskillWhite;
      svg {
        stroke: $blue;
        fill: $blue;
      }
    }
  }
}

  &-item {
    &__link {
        color: #fff;
        font-family: "Montserrat-Bold", sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        display: inline-block;

        + .nav-item__link {
            margin-top: 7px;
        }
    }

    &__icon {
      width: 60px;
      height: 60px;
      background-color: $catskillWhite;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      stroke: $blue;
      transition: 0.1s ease-in;

      @include desktop-sm {
        margin-right: 20px;
      }

      @include mobile-ex-sm {
        margin-right: 10px;
      }

      @include desktop-sm {
        width: 50px;
        height: 50px;
      }

      &:hover {
        color: #fff;
        stroke: #fff;
        background-color: $blue;
        path {
          color: #fff !important;
          stroke: #fff !important;
        }
      }
    }

    &__info {
      display: none;
      flex-direction: column;

      @include desktop-sm {
        display: flex;
      }
    }
  }

  &-wrapper {
    position: absolute;
    width: 100px;
    height: 100%;
    z-index: 998;

    @include desktop-sm {
      width: 0;
    }
  }
  &__link {
    display: flex;
    align-items: center;

    &-text {
        color: #fff;
        font-family: "Montserrat-Bold", sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
    }
  }
  &__link-phone {

  }
  &__item {
    margin: 35px auto;
    // padding: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      max-width: 30px;
      max-height: 30px;
      path:hover {
        stroke: #fff;
      }
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    @include desktop-sm {
        justify-content: flex-start;
        margin: 30px auto;
    }
  }
}
