.nav {
    position: fixed;
    width: 100px;
    height: 100%;
    padding: 10px 0;

    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(111, 135, 157, 0.2);
    z-index: 1000;
    &-wrapper {
        position: absolute;
        width: 100px;
        height: 100%;
        z-index: 998;
    }
    &__link {
        width: 60px;
        height: 60px;
        background-color: $catskillWhite;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        stroke: $blue;
        transition: .1s ease-in;
        &:hover {
            color: #fff;
            stroke: #fff;
            background-color: $blue;
            path {
                color: #fff !important;
                stroke: #fff !important;
            }
        }
    }
    &__link-phone {
        background-color: $blue;
        transition: background-color .2s ease-in-out;
        color: #fff;
        border: 2px solid $blue;

        svg {
            color: #fff;
            fill: #fff;
        }
        &:hover {
            background-color: $catskillWhite;
            svg {
                stroke: $blue;
                fill: $blue;
            }
        }

    }
    &__item {
        margin: 35px auto;
        // padding: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            max-width: 30px;
            max-height: 30px;
            path:hover {
                stroke: #fff;
            }
        }
    }
}
