@import "../mixins";

.catalog {
    padding: 60px 0 30px;
    &__title {
        text-align: center;
        margin: 0 0 10px;
    }
    &__subtitle {
        margin: 0 0 30px;
        text-align: center;
    }
}

.tab-header {
    max-width: min-content;
    background-color: $catskillWhite;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 30px;

    @include desktop-sm {
        overflow-x: scroll;
    }

    &__link {
        padding: 10px 30px 13px;
        display: inline-flex;
        color: $black;
        border-radius: 50px;
        transition: color .2s ease-in-out, background-color .2s ease-in-out;
        &:hover {
            color: #fff;
            background-color: $blue;
        }
    }
    &__link.active{
        background-color: $blue;
        color: #fff;
    }
}

.catalog-tab {
    &__list {
        display: flex;
        margin: 0 0 40px;
        flex-wrap: wrap;
        justify-content: center;

        @include mobile {
            margin: 0 0 20px;
        }
    }
    &__item {
        width: calc(33.3% - 30px);
        min-width: 360px;
        margin-right: 20px;


        // + .catalog-tab__item {
        //     margin-left: 20px;
        // }

        @include desktop-md {
            width: calc(33.3% - 10px);
            margin-bottom: 30px;
        }
    }
    &__more {
        display: block;
        text-align: center;
        margin: 0 auto;
        font-family: "Montserrat-Regular";
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $blue;
        &:hover {
            text-decoration: underline;
        }
    }
}

.catalog-article {
    padding: 40px 30px 35px;
    background-color: $catskillWhite;
    transition: box-shadow .2s ease-in-out;
    &__title {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        text-align: center;
        color: $black;
        margin: 0 0 20px;
    }
    &__text {
        display: inline-block;
        margin-bottom: 33px;
    }
    &.active {
        box-shadow: 0px 4px 20px rgba(111, 135, 157, 0.3);
    }
    &:hover {
        box-shadow: 0px 4px 20px rgba(111, 135, 157, 0.3);
    }

}

.article-footer {
    &__btn {
        display: block;
        width: 100%;
        margin: 0 0 25px;
    }
    &__detail-btn {
        position: relative;
        display: block;
        font-family: "Montserrat-Regular";
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $blue;
        padding: 0 40px;
        margin: 0 auto;
        @include desktop-xl {
            padding: 0;
        }
        span {
            font-size: 20px;
        }
        &:hover {
            text-decoration: underline;
        }
        &:hover span {
            animation-duration: .2s;
            // animation-timing-function: ease-in-out;
            animation-name: arrowTransform;
            animation-iteration-count: infinite;
        }
    }
}

.article-info {
    overflow: hidden;
    &__wrapper {
        width: max-content;
        display: flex;
        justify-content: space-between;
        // overflow: scroll;
        transition: .2s ease-in-out;
        position: relative;
        // transform: translateX(-50%);
        overflow: auto;
        // left: 0;
    }
    &__list {
        max-width: 300px;
        width: 100%;
        margin: 0 0 35px;
        max-height: 244px;
        overflow-y: auto;
    }
    &__item + &__item {
        margin-top: 5px;
    }
    &__name {
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
    }
    &__descr {
        margin-left: 0;
        font-family: "Montserrat-Medium";
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
}

// swiper
.swiper-container {
    width: 300px;
    padding-bottom: 60px;
    margin: 0;

    @include desktop-md {
        width: auto;
    }
}
.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 35px;
}

.slider-item {
    &__img {
        max-width: 100%;
        object-fit: cover;
    }
}

.catalog-article.active .article-info__list {
    display: block;
}
.catalog-article.active .swiper-container {
    display: none;
}

/* custom slider */

.article-info__wrapper.active {
    transform: translateX(0);
}
