@import "../mixins";

.offer {
    padding: 60px 50px;
    background-image: url(../img/offer-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    &__inner {
        max-width: 770px;
        margin: 0 auto;
    }
    &__title {
        text-align: center;
        color: #fff;
    }
    &__subtitle {
        text-align: center;
        color: #fff;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        + .offer__row {
            margin-top: 30px;
        }
    }
    &__column {
        max-width: 270px;
        display: flex;
    }

    &-column {
        &__info {
            margin-left: 30px;
        }
        &__icon {
            width: 70px;
            height: 70px;
            min-width: 70px;
            min-height: 70px;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                max-width: 40px;
            }
        }
        &__title {
            color: #fff;
            font-feature-settings: 'kern' off;
            font-family: 'Montserrat-Medium';
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            margin: 0 0 5px;
        }
        &__text {
            color: #fff;
            font-size: 13px;
            line-height: 16px;
        }
        .kaspi-logo {
            max-width: 170px;
            height: 71px;
        }
    }

    &-form {
        &__input {
            width: 100%;
        }
        &__btn {
            width: 170px;
            height: 50px;
        }
        &__text {
            color: #fff;
            margin: 10px 0 0;
        }
        &__data {
            color: #fff;
        }
        &__label {
            max-width: 270px;
            width: 100%;
        }
    }
}