@import "../mixins";

.price {
    padding: 32px 0 35px;
    background-color: $blue;
    background-image: url(../img/download-bg.svg);
    // background-size: cover;
    background-repeat: no-repeat;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include tablet {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__text {
        font-size: 18px;
        line-height: 32px;
        color: #fff;
    }
    &__title {
        color: #fff;
        margin: 0;
        font-family: 'Montserrat-Bold';
        font-size: 32px;
        line-height: 39px;
    }
    &__condition {
        font-size: 11px;
        line-height: 12px;
        color: #fff;
        margin: 0;
    }

    &__btn {
        margin-top: 15px;
    }

    &__left {
        position: relative;
        padding-right: 88px;
        @include desktop-xl {
            padding-right: 0;
        }
        &::before {
            content: '';
            position: absolute;
            background-image: url(../img/arrow-right.svg);
            top: 60%;
            right: 0;
            transform: translateY(-50%);
            width: 83px;
            height: 52px;
            @include desktop-xl {
                width: 0;
                height: 0;
            }
        }
    }
}
