@import "../mixins";

.thanks {
    &::before {
        background-image: url(../img/thanks-bg.png);
        background-position: 80% 235px;
        // background-position-x: 60%;

        @include desktop-md {
            display: none;
        }
    }
    @include desktop-md {
        padding-bottom: 30px;
    }
    .intro__description {
        @include mobile-sm {
            margin-bottom: 30px;
        }
    }
    &__title {
        margin: 0;
    }
    &__text {
        margin: 0 0 65px;
        font-family: "Montserrat-Medium", sans-serif;
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
        max-width: 450px;

        @include mobile-sm {
            font-size: 22px;
            line-height: 26px;
            margin: 0 0 35px;
        }
    }

    &__bg-img {
        display: none;

        @include desktop-md {
            display: block;
            margin: 40px auto 0;
        }   
    }
}
