.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.nav {
  position: fixed;
  width: 100px;
  height: 100%;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(111, 135, 157, 0.2);
  z-index: 1000;
  transition: transform 0.2s ease-in-out;
  will-change: transform;
  transform: translateX(100%); }
  @media (max-width: 1225px) {
    .nav {
      padding: 35px 30px;
      width: 80%;
      right: 0;
      background-color: #2580d2; } }
  .nav__list {
    margin: 0; }
  .nav.active {
    transform: translateX(0); }
  .nav-item__link {
    color: #fff;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: inline-block; }
    .nav-item__link + .nav-item__link {
      margin-top: 7px; }
  .nav-item__icon {
    width: 60px;
    height: 60px;
    background-color: #F2F6F9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    stroke: #2580d2;
    transition: 0.1s ease-in; }
    @media (max-width: 1225px) {
      .nav-item__icon {
        margin-right: 20px; } }
    .nav-item__icon:hover {
      color: #fff;
      stroke: #fff;
      background-color: #2580d2; }
      .nav-item__icon:hover path {
        color: #fff !important;
        stroke: #fff !important; }
  .nav-item__info {
    display: none;
    flex-direction: column; }
    @media (max-width: 1225px) {
      .nav-item__info {
        display: flex; } }
  .nav-wrapper {
    position: absolute;
    width: 100px;
    height: 100%;
    z-index: 998; }
    @media (max-width: 1225px) {
      .nav-wrapper {
        width: 0; } }
  .nav__link {
    display: flex;
    align-items: center; }
    .nav__link-text {
      color: #fff;
      font-family: "Montserrat-Bold", sans-serif;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px; }
  .nav__link-phone {
    background-color: #2580d2;
    transition: background-color 0.2s ease-in-out;
    color: #fff;
    border: 2px solid #2580d2; }
    .nav__link-phone svg {
      color: #fff;
      fill: #fff; }
    .nav__link-phone:hover {
      background-color: #F2F6F9; }
      .nav__link-phone:hover svg {
        stroke: #2580d2;
        fill: #2580d2; }
  .nav__item {
    margin: 35px auto;
    display: flex;
    align-items: center;
    justify-content: center; }
    .nav__item svg {
      max-width: 30px;
      max-height: 30px; }
      .nav__item svg path:hover {
        stroke: #fff; }
    .nav__item:first-child {
      margin-top: 0; }
    @media (max-width: 1225px) {
      .nav__item {
        justify-content: flex-start;
        margin: 30px auto; } }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.header {
  padding: 30px 0; }
  @media (max-width: 767px) {
    .header {
      padding: 20px 10px; } }
  .header__inner {
    display: flex;
    justify-content: space-between; }
  .header__logo {
    max-width: 130px; }
  .header-info {
    display: flex;
    align-items: center; }
    .header-info__address {
      font-style: normal;
      max-width: 243px;
      padding-left: 30px;
      position: relative;
      font-family: 'Montserrat-Regular';
      font-size: 16px;
      line-height: 20px; }
      .header-info__address::before {
        content: url("../img/location.svg");
        position: absolute;
        width: 20px;
        height: 30px;
        top: 50%;
        left: 0;
        transform: translateY(-50%); }
    @media (max-width: 1225px) {
      .header-info__location {
        display: none; } }
    .header-info__number {
      display: block;
      font-family: 'Montserrat-Bold';
      font-size: 16px;
      line-height: 20px;
      color: #212121;
      transition: color .2s ease-in-out; }
      .header-info__number:hover {
        color: #2580d2; }
      + .header-info__number__number {
        margin-top: 3px;
        width: 500px; }
      @media (max-width: 767px) {
        .header-info__number {
          font-size: 13px;
          line-height: 19px; } }
      @media (max-width: 1225px) {
        .header-info__number:nth-child(2) {
          display: none; } }
    .header-info__btn {
      margin-left: 35px; }
      @media (max-width: 1225px) {
        .header-info__btn {
          display: none; } }
    .header-info__phones {
      margin-left: 35px;
      padding-left: 40px;
      position: relative; }
      .header-info__phones::before {
        content: url("../img/phone.svg");
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%); }
      @media (max-width: 680px) {
        .header-info__phones {
          margin-left: 10px; } }
      @media (max-width: 395px) {
        .header-info__phones {
          display: none; } }
    .header-info__burger {
      display: none;
      position: relative;
      z-index: 1111;
      width: 35px;
      height: 35px;
      background-color: #212121;
      border-radius: 50%;
      margin-left: 15px;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .header-info__burger span {
        width: 19px;
        height: 2px;
        background-color: #fff; }
        .header-info__burger span:nth-child(2) {
          margin: 3px 0; }
      @media (max-width: 1225px) {
        .header-info__burger {
          display: flex; } }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.intro {
  background-image: url("../img/intro-bg-color.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 140px;
  position: relative;
  z-index: 1; }
  @media (max-width: 1024px) {
    .intro {
      padding-bottom: 500px; } }
  .intro::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/intro-bg-2.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: -1; }
    @media (max-width: 1024px) {
      .intro::before {
        background-position: right bottom; } }
  .intro__address {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 15px;
    display: none; }
    @media (max-width: 1225px) {
      .intro__address {
        display: inline-block; } }
    @media (max-width: 767px) {
      .intro__address {
        font-size: 11px;
        line-height: 11px; } }
  .intro__description {
    max-width: 240px;
    position: relative;
    color: #fff;
    font-size: 13px;
    line-height: 14px;
    z-index: 1;
    margin: 0 0 45px;
    padding: 7px 10px;
    background-color: #2580d2; }
  .intro__title {
    max-width: 643px;
    margin: 0;
    margin-bottom: 30px; }
  .intro-info {
    display: flex;
    align-items: center;
    max-width: 600px;
    flex-wrap: wrap; }
    @media (max-width: 767px) {
      .intro-info {
        flex-direction: column;
        align-items: flex-start; } }
    .intro-info__item {
      display: flex;
      align-items: center; }
    .intro-info__item:not(:last-child) {
      margin-bottom: 23px; }
    .intro-info__item:nth-child(1) .intro-info__text {
      max-width: 215px; }
    .intro-info__item:nth-child(2) {
      margin-left: 50px; }
      @media (max-width: 767px) {
        .intro-info__item:nth-child(2) {
          margin-left: 0; } }
    .intro-info__item:nth-child(2) .intro-info__text {
      max-width: 195px; }
    .intro-info__text {
      display: inline-flex;
      margin-left: 20px;
      font-size: 16px;
      line-height: 18px; }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.price {
  padding: 32px 0 35px;
  background-color: #2580d2;
  background-image: url(../img/download-bg.svg);
  background-repeat: no-repeat; }
  .price__inner {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 1024px) {
      .price__inner {
        flex-direction: column;
        align-items: flex-start; } }
  .price__text {
    font-size: 18px;
    line-height: 32px;
    color: #fff; }
  .price__title {
    color: #fff;
    margin: 0;
    font-family: 'Montserrat-Bold';
    font-size: 32px;
    line-height: 39px; }
    @media (max-width: 1024px) {
      .price__title {
        font-size: 22px;
        line-height: 22px; } }
    @media (max-width: 767px) {
      .price__title {
        line-height: 22px;
        margin-bottom: 10px; } }
  .price__condition {
    font-size: 11px;
    line-height: 12px;
    color: #fff;
    margin: 0; }
  .price__btn {
    margin-top: 15px; }
  .price__left {
    position: relative;
    padding-right: 88px; }
    @media (max-width: 1800px) {
      .price__left {
        padding-right: 0; } }
    .price__left::before {
      content: '';
      position: absolute;
      background-image: url(../img/arrow-right.svg);
      top: 60%;
      right: 0;
      transform: translateY(-50%);
      width: 83px;
      height: 52px; }
      @media (max-width: 1800px) {
        .price__left::before {
          width: 0;
          height: 0; } }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.catalog {
  padding: 60px 0 30px; }
  .catalog__title {
    text-align: center;
    margin: 0 0 10px; }
  .catalog__subtitle {
    margin: 0 0 30px;
    text-align: center; }

.tab-header {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  background-color: #F2F6F9;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 30px;
  overflow-x: scroll; }
  .tab-header__link {
    padding: 10px 30px 13px;
    display: inline-flex;
    color: #212121;
    border-radius: 50px;
    transition: color .2s ease-in-out, background-color .2s ease-in-out; }
    .tab-header__link:hover {
      color: #fff;
      background-color: #2580d2; }
  .tab-header__link.active {
    background-color: #2580d2;
    color: #fff; }

.catalog-tab__list {
  display: flex;
  margin: 0 0 40px;
  flex-wrap: wrap;
  justify-content: center; }
  @media (max-width: 767px) {
    .catalog-tab__list {
      margin: 0 0 20px; } }

.catalog-tab__item {
  width: calc(33.3% - 30px);
  min-width: 360px;
  margin-right: 20px; }
  @media (max-width: 1400px) {
    .catalog-tab__item {
      width: calc(33.3% - 10px);
      margin-bottom: 30px; } }

.catalog-tab__more {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2580d2; }
  .catalog-tab__more:hover {
    text-decoration: underline; }

.catalog-article {
  padding: 40px 30px 35px;
  background-color: #F2F6F9;
  transition: box-shadow .2s ease-in-out; }
  .catalog-article__title {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #212121;
    margin: 0 0 20px; }
  .catalog-article__text {
    display: inline-block;
    margin-bottom: 33px; }
  .catalog-article.active {
    box-shadow: 0px 4px 20px rgba(111, 135, 157, 0.3); }
  .catalog-article:hover {
    box-shadow: 0px 4px 20px rgba(111, 135, 157, 0.3); }

.article-footer__btn {
  display: block;
  width: 100%;
  margin: 0 0 25px; }

.article-footer__detail-btn {
  position: relative;
  display: block;
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2580d2;
  padding: 0 40px;
  margin: 0 auto; }
  @media (max-width: 1800px) {
    .article-footer__detail-btn {
      padding: 0; } }
  .article-footer__detail-btn span {
    font-size: 20px; }
  .article-footer__detail-btn:hover {
    text-decoration: underline; }
  .article-footer__detail-btn:hover span {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-name: arrowTransform;
    animation-name: arrowTransform;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }

.article-info {
  overflow: hidden; }
  .article-info__wrapper {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: flex;
    justify-content: space-between;
    transition: .2s ease-in-out;
    position: relative;
    overflow: auto; }
  .article-info__list {
    max-width: 300px;
    width: 100%;
    margin: 0 0 35px;
    max-height: 244px;
    overflow-y: auto; }
  .article-info__item + .article-info__item {
    margin-top: 5px; }
  .article-info__name {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px; }
  .article-info__descr {
    margin-left: 0;
    font-family: "Montserrat-Medium";
    font-weight: 500;
    font-size: 16px;
    line-height: 20px; }

.swiper-container {
  padding-bottom: 60px;
  margin: 0; }
  @media (max-width: 1400px) {
    .swiper-container {
      width: auto; } }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 35px; }

.slider-item__img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.catalog-article.active .article-info__list {
  display: block; }

.catalog-article.active .swiper-container {
  display: none; }

/* custom slider */
.article-info__wrapper.active {
  transform: translateX(0); }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.advantages {
  padding: 30px 0 60px;
  max-width: 960px;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .advantages {
      padding: 20px 0 60px; } }
  .advantages__inner {
    display: flex;
    justify-content: space-between;
    padding: 0 15px; }
    @media (max-width: 767px) {
      .advantages__inner {
        flex-direction: column;
        align-items: center; } }
  .advantages__list {
    margin: 0; }
  @media (max-width: 767px) {
    .advantages__column {
      margin: 40px 0 30px; } }
  .advantages__title {
    text-align: center;
    margin: 0 0 20px; }
    .advantages__title span {
      display: block;
      font-family: 'Montserrat-Medium', sans-serif;
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
      text-align: center; }
      @media (max-width: 767px) {
        .advantages__title span {
          font-size: 18px;
          line-height: 22px; } }
    @media (max-width: 767px) {
      .advantages__title {
        display: none; } }
    .advantages__title--mobile {
      display: none; }
      @media (max-width: 767px) {
        .advantages__title--mobile {
          display: block; } }
  .advantages .air-conditioning {
    display: block;
    height: 170px;
    margin: 0 auto; }
    @media (max-width: 1024px) {
      .advantages .air-conditioning {
        height: 140px; } }
  .advantages-item {
    display: flex;
    align-items: center; }
    .advantages-item + .advantages-item {
      margin-top: 30px; }
      @media (max-width: 767px) {
        .advantages-item + .advantages-item {
          margin-top: 10px; } }
    .advantages-item__icon {
      width: 50px;
      height: 50px;
      min-width: 50px;
      min-height: 50px;
      background-color: #F2F6F9;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-right: 20px; }
      .advantages-item__icon svg {
        max-width: 30px;
        max-height: 30px; }
      @media (max-width: 1024px) {
        .advantages-item__icon {
          margin-right: 10px; } }
    .advantages-item__text {
      font-family: "Montserrat-Medium";
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      max-width: 170px; }
      @media (max-width: 1024px) {
        .advantages-item__text {
          max-width: 155px; } }
      @media (max-width: 767px) {
        .advantages-item__text {
          max-width: -webkit-max-content;
          max-width: -moz-max-content;
          max-width: max-content; } }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.offer {
  padding: 60px 50px;
  background-image: url(../img/offer-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media (max-width: 767px) {
    .offer {
      padding: 40px 15px; } }
  .offer__inner {
    max-width: 770px;
    margin: 0 auto; }
  .offer__title {
    text-align: center;
    color: #fff;
    margin: 0; }
    @media (max-width: 767px) {
      .offer__title {
        margin: 0 0 10px; } }
  .offer__subtitle {
    text-align: center;
    color: #fff;
    margin: 0 0 40px; }
    @media (max-width: 767px) {
      .offer__subtitle {
        margin: 0 0 20px;
        font-size: 18px;
        line-height: 20px; } }
  .offer__row {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 767px) {
      .offer__row {
        flex-direction: column;
        align-items: flex-start; } }
    .offer__row + .offer__row {
      margin-top: 30px; }
  .offer__column {
    max-width: 270px;
    display: flex; }
    @media (max-width: 767px) {
      .offer__column + .offer__column {
        margin-top: 20px; } }
  .offer-column__info {
    margin-left: 30px; }
    @media (max-width: 1024px) {
      .offer-column__info {
        margin-left: 12px; } }
  .offer-column__icon {
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center; }
    .offer-column__icon svg {
      max-width: 40px; }
      @media (max-width: 767px) {
        .offer-column__icon svg {
          max-width: 30px; } }
    @media (max-width: 767px) {
      .offer-column__icon {
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px; } }
  .offer-column__title {
    color: #fff;
    font-feature-settings: 'kern' off;
    font-family: 'Montserrat-Medium';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 5px; }
  .offer-column__text {
    color: #fff;
    font-size: 13px;
    line-height: 16px; }
  .offer-column .kaspi-logo {
    max-width: 170px;
    height: 71px; }
    @media (max-width: 767px) {
      .offer-column .kaspi-logo {
        max-width: 126px; } }
  .offer-form__input {
    width: 100%; }
  .offer-form__btn {
    width: 170px;
    height: 50px; }
    @media (max-width: 767px) {
      .offer-form__btn {
        width: 100%; } }
  .offer-form__text {
    color: #fff;
    margin: 10px 0 0; }
    @media (max-width: 767px) {
      .offer-form__text {
        margin: 20px 0 0; } }
  .offer-form__data {
    color: #fff; }
  .offer-form__label {
    max-width: 270px;
    width: 100%; }
    @media (max-width: 1024px) {
      .offer-form__label {
        max-width: 220px; } }
    @media (max-width: 767px) {
      .offer-form__label {
        max-width: 100%;
        margin-bottom: 10px; } }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.buy {
  background-color: #F2F6F9;
  padding: 60px 0 54px; }
  @media (max-width: 767px) {
    .buy {
      padding: 40px 0; } }
  .buy__left {
    width: 60%; }
    @media (max-width: 1024px) {
      .buy__left {
        margin-right: 12px; } }
    @media (max-width: 767px) {
      .buy__left {
        margin-right: 0;
        margin-bottom: 27px;
        width: 100%; } }
  .buy__inner {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .buy__inner {
        flex-direction: column; } }
  .buy__title {
    margin: 0 0 10px; }
  .buy__subtitle {
    margin: 0 0 25px; }
  .buy__text-caption {
    font-family: "Montserrat-Medium";
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px;
    display: inline-block; }
  .buy__text {
    font-size: 13px;
    line-height: 16px;
    margin: 0; }
    .buy__text + .buy__text {
      margin-top: 10px; }
  .buy-form {
    display: flex;
    flex-direction: column;
    width: 40%; }
    @media (max-width: 767px) {
      .buy-form {
        width: 100%; } }
    .buy-form__input {
      width: 100%; }
    .buy-form .input-label + .input-label {
      margin-top: 20px; }
      @media (max-width: 767px) {
        .buy-form .input-label + .input-label {
          margin-top: 10px; } }
    .buy-form__btn {
      max-width: 270px;
      margin-top: 20px; }
      @media (max-width: 767px) {
        .buy-form__btn {
          max-width: 100%;
          margin-top: 10px; } }
  .buy__agreement {
    margin: 25px 0 0; }
    @media (max-width: 767px) {
      .buy__agreement {
        margin: 20px 0 0; } }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.partners {
  padding: 80px 0; }
  @media (max-width: 1024px) {
    .partners {
      padding: 30px 0; } }
  .partners__list {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 0; }
    @media (max-width: 1024px) {
      .partners__list {
        flex-wrap: wrap;
        justify-content: center; } }
  .partners__item {
    margin: 0 45px; }
    .partners__item:first-child {
      margin-left: 0; }
      @media (max-width: 1024px) {
        .partners__item:first-child {
          margin: auto; } }
    @media (max-width: 1024px) {
      .partners__item {
        margin: 15px 45px; } }
    .partners__item:last-child {
      margin-right: 0; }
    .partners__item svg {
      max-height: 30px;
      max-width: 245px;
      width: 100%; }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.questions__map {
  max-width: 100%;
  max-height: 560px;
  height: 560px;
  position: relative; }

.questions__content {
  position: absolute;
  padding: 60px 0 50px;
  width: 100%;
  height: 55%;
  z-index: 1;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 71.87%, rgba(255, 255, 255, 0) 100%); }
  @media (max-width: 1024px) {
    .questions__content {
      padding: 10px 0 50px; } }
  @media (max-width: 680px) {
    .questions__content {
      height: 60%; } }

.questions__title {
  margin: 0 0 5px;
  text-align: center; }

.questions__subtitle {
  text-align: center;
  margin: 0 0 30px; }
  @media (max-width: 680px) {
    .questions__subtitle {
      margin: 0 0 20px; } }

.questions-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
  flex-wrap: wrap; }
  .questions-info__column {
    display: flex;
    align-items: center; }
    @media (max-width: 1024px) {
      .questions-info__column {
        align-items: center;
        margin-bottom: 10px;
        width: 50%; } }
    @media (max-width: 680px) {
      .questions-info__column {
        width: 100%; } }
  .questions-info__icon {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    background-color: #F2F6F9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px; }
    .questions-info__icon svg {
      width: 100%;
      height: auto;
      max-width: 20px;
      max-height: 20px; }
    @media (max-width: 680px) {
      .questions-info__icon {
        margin-right: 20px; } }
  .questions-info__text {
    font-family: 'Montserrat-Medium';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0; }
  .questions-info__content {
    display: flex;
    flex-direction: column;
    max-width: 190px; }
    @media (max-width: 680px) {
      .questions-info__content {
        max-width: 100%; } }
  .questions-info__link {
    font-family: 'Montserrat-Medium';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #212121;
    transition: color .2s ease-in-out; }
    .questions-info__link + .questions-info__link {
      margin-top: 3px; }
    .questions-info__link-mail {
      color: #2580d2;
      text-decoration: underline; }
      .questions-info__link-mail:hover {
        text-decoration: none; }
    .questions-info__link:hover {
      color: #2580d2; }

.questions-bottom {
  padding: 70px 15px 80px;
  max-width: 770px;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .questions-bottom {
      padding: 40px 15px 50px; } }
  .questions-bottom__subtitle {
    text-align: center;
    margin: 0 auto 20px; }

.questions-form {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 680px) {
    .questions-form {
      flex-direction: column; } }
  .questions-form__label {
    width: 270px; }
    @media (max-width: 767px) {
      .questions-form__label {
        width: 230px; } }
    @media (max-width: 680px) {
      .questions-form__label {
        width: 100%;
        margin-bottom: 10px; } }
  .questions-form__input {
    border: 1px solid #212121;
    transition: border .2s ease-in-out;
    width: 100%; }
    .questions-form__input:focus {
      outline: none;
      border-color: #2580d2; }
  .questions-form__input:focus ~ .questions-form__span {
    transform: translateY(-26px); }
  .questions-form__btn {
    min-height: 51px;
    min-width: 170px; }
    @media (max-width: 680px) {
      .questions-form__btn {
        width: 100%; } }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.footer {
  background-color: #212121; }
  .footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 1225px) {
      .footer__inner {
        padding: 30px 15px 40px 15px;
        align-items: flex-start; } }
    @media (max-width: 680px) {
      .footer__inner {
        flex-direction: column; } }
  .footer__text {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    max-width: 270px;
    margin: 0; }
    @media (max-width: 1225px) {
      .footer__text {
        margin-bottom: 10px; } }
    @media (max-width: 680px) {
      .footer__text {
        margin-bottom: 20px; } }
  .footer-agreement {
    display: flex;
    align-items: center; }
    @media (max-width: 680px) {
      .footer-agreement {
        margin: 13px 0 17px 0; } }
    .footer-agreement__btn {
      font-family: "Montserrat-Regular", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #2580d2;
      text-decoration: underline;
      text-align: left;
      padding: 0;
      max-width: 240px;
      color: #fff;
      -webkit-text-decoration-color: #fff;
      text-decoration-color: #fff;
      transition: -webkit-text-decoration .2s ease-in-out;
      transition: text-decoration .2s ease-in-out;
      transition: text-decoration .2s ease-in-out, -webkit-text-decoration .2s ease-in-out; }
      .footer-agreement__btn:hover {
        -webkit-text-decoration-color: transparent;
        text-decoration-color: transparent; }
      @media (max-width: 680px) {
        .footer-agreement__btn {
          max-width: -webkit-max-content;
          max-width: -moz-max-content;
          max-width: max-content; } }
    @media (max-width: 1225px) {
      .footer-agreement {
        flex-direction: column;
        align-items: flex-start; } }

.site-developer {
  display: flex;
  align-items: center; }
  @media (max-width: 1225px) {
    .site-developer {
      flex-direction: column;
      align-items: flex-start; } }
  @media (max-width: 680px) {
    .site-developer {
      flex-direction: row;
      align-items: center; } }
  .site-developer__info {
    display: inline-flex; }
  .site-developer__text {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    max-width: 170px; }
    @media (max-width: 1225px) {
      .site-developer__text {
        margin-bottom: 10px; } }
  .site-developer__link {
    color: #2580d2;
    text-decoration: underline;
    font-size: 16px;
    line-height: 20px;
    -webkit-text-decoration-color: #2580d2;
    text-decoration-color: #2580d2;
    transition: -webkit-text-decoration .2s ease-in-out;
    transition: text-decoration .2s ease-in-out;
    transition: text-decoration .2s ease-in-out, -webkit-text-decoration .2s ease-in-out; }
    .site-developer__link:hover {
      -webkit-text-decoration-color: transparent;
      text-decoration-color: transparent; }
  .site-developer .proseo {
    max-width: 100px;
    height: auto; }
    @media (max-width: 1225px) {
      .site-developer .proseo {
        height: 60px; } }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.modal-form {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #fff;
  max-width: 390px;
  margin: auto;
  z-index: 1000;
  padding: 50px 40px;
  transition: transform .2s ease-in-out, opacity .2s ease-in-out;
  transform: translateX(100%);
  opacity: 0; }
  @media (max-width: 767px) {
    .modal-form {
      padding: 35px 15px; } }
  .modal-form.active {
    transform: translateX(0);
    opacity: 1; }
  .modal-form__inner {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .modal-form__close {
    position: absolute;
    top: -45px;
    right: -45px;
    padding: 15px;
    width: 45px;
    height: 45px;
    z-index: 1000;
    cursor: pointer;
    fill: #fff;
    stroke: #fff; }
    @media (max-width: 767px) {
      .modal-form__close {
        top: 0;
        right: 0;
        fill: #212121;
        stroke: #212121; } }
  .modal-form__label {
    width: 100%;
    display: inline-block; }
    .modal-form__label + .modal-form__label {
      margin-top: 20px; }
  .modal-form__input {
    width: 100%; }
  .modal-form__btn {
    margin-top: 20px;
    width: 100%;
    min-height: 53px; }
  .modal-form__overlay {
    display: flex;
    position: fixed;
    padding: 80px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.9);
    z-index: 999;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto; }
    @media (max-width: 767px) {
      .modal-form__overlay {
        padding: 50px 0; } }
    .modal-form__overlay.active {
      opacity: 1;
      visibility: visible; }
  .modal-form__title {
    font-family: "Montserrat-Bold";
    font-weight: 700;
    margin: 0;
    font-size: 26px;
    line-height: 32px;
    text-align: center; }
    @media (max-width: 680px) {
      .modal-form__title {
        font-size: 23px; } }
  .modal-form__subtitle {
    font-family: "Montserrat-Medium";
    font-weight: 700;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 25px; }
  .modal-form__agreement {
    margin: 0;
    margin-top: 20px; }

.modal-agreement {
  max-width: 590px; }
  .modal-agreement__title {
    margin-bottom: 25px; }
  .modal-agreement__subtitle {
    font-family: "Montserrat-Medium", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 15px;
    text-align: left; }
  .modal-agreement__text {
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 15px; }

.modal-product {
  display: flex;
  margin-bottom: 25px; }
  .modal-product__preview {
    display: block;
    margin-right: 20px; }
  .modal-product__img {
    width: 100%;
    max-width: 60px; }
  .modal-product__title {
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    margin: 0 0 3px; }
  .modal-product__text {
    display: block;
    font-size: 11px;
    line-height: 13px;
    margin: 0 0 5px; }
  .modal-product__cost {
    display: block;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px; }

/*# sourceMappingURL=main.css.map */
