<section class="buy" id="buy">
    <div class="container buy__inner">
        <div class="buy__left">
            <h2 class="buy__title title">Хотите купить кондиционер недорого</h2>
            <h3 class="buy__subtitle subtitle">в Караганде для дома или офиса?</h3>
            <span class="buy__text-caption">Оставьте свои контактные данные в форме справа!
            </span>
            <p class="buy__text">В течении 15 минут в рабочее время мы перезвоним и подберем кондиционер, исходя из ваших потребностей. Предоставим
            перечень подрядных монтажных организаций.</p>
            <p class="buy__text">Если на часах больше 18:00, оставляйте заявку и мы перезвоним вам завтра.</p>
        </div>
        <form class="buy__form buy-form" action="mail.php">
            <label class="input-label">
                <input name="name" type="text" class="buy-form__input input" required>
                <span class="input-span">Имя*</span>
            </label>
            <label class="input-label">
                <input name="number" type="number" class="buy-form__input input" required>
                <span class="input-span">Телефон*</span>
            </label>
            <button class="btn btn-reset btn--blue btn--big buy-form__btn" type="submit">Заказать</button>
            <p class="buy__agreement agreement">Нажав кнопку «Заказать», я даю согласие на обработку моих <button class="btn btn-reset agreement__btn" data-modal="modal-agreement">персональных данных</button> и получение рекламы. С условиями обработки персональных данных и получения рекламы - ознакомлен и согласен.</p>
        </form>
    </div>
</section>
