<section class="catalog">
    <div class="container">
        <h2 class="catalog__title title">Кондиционеры</h2>
        <h3 class="catalog__subtitle">Кондиционеры</h3>
        <div class="catalog__tab catalog-tab">
            <ul class="catalog-tab__header tab-header">
                <li class="tab-header__item">Almacom</li>
                <li class="tab-header__item">Gree</li>
                <li class="tab-header__item">LG</li>
                <li class="tab-header__item">Media</li>
                <li class="tab-header__item">Quantex</li>
                <li class="tab-header__item">Кронштейны</li>
            </ul>
            <ul class="catalog-tab__list">
                <li class="catalog-tab__item">
                    <article class="catalog-tab__article catalog-article">
                        <div class="catalog-article__header">
                            <h4 class="catalog-article__title">Настенный кондиционер ALMACOM</h4>
                            <span class="catalog-article__series">Серия INVERTER DIAMOND</span>
                        </div>
                        <div class="catalog-article__body article-info active">
                            <dl class="article-info__list">
                                <div class="article-info__item">
                                    <dt class="article-info__name">Производитель</dt>
                                    <dd class="article-info__descr">Almacom</dd>
                                </div>
                                <div class="article-info__item">
                                    <dt class="article-info__name">Площадь</dt>
                                    <dd class="article-info__descr">15-20 м2</dd>
                                </div>
                                <div class="article-info__item">
                                    <dt class="article-info__name">Гарантия</dt>
                                    <dd class="article-info__descr">36 мес</dd>
                                </div>
                                <div class="article-info__item">
                                    <dt class="article-info__name">Сплит-система</dt>
                                    <dd class="article-info__descr">простая</dd>
                                </div>
                                <div class="article-info__item">
                                    <dt class="article-info__name">Инсталяция</dt>
                                    <dd class="article-info__descr">Да</dd>
                                </div>
                                <div class="article-info__item">
                                    <dt class="article-info__name">Тип кондиционера</dt>
                                    <dd class="article-info__descr">Настенный</dd>
                                </div>
                            </dl>
                        </div>
                        <div class="catalog-article__footer article-footer">
                            <button class="btn btn-reset btn--blue">Оставить заявку</button>
                            <button class="btn btn-reset article-footer__detail-btn">← Детальная информация</button>
                        </div>
                    </article>
                </li>
                <li class="catalog-tab__item">
                    <article class="catalog-tab__article catalog-article">
                        <div class="catalog-article__header">
                            <h4 class="catalog-article__title">Настенный кондиционер ALMACOM</h4>
                            <span class="catalog-article__series">Серия INVERTER DIAMOND</span>
                        </div>
                        <!-- Slider main container -->
                        <div class="catalog-article__body article-slider">
                            <!-- Additional required wrapper -->
                            <div class="article-slider__wrapper">
                                <!-- Slides -->
                                <div class="article-slider__item slider-item">
                                    <img src="./img/product.jpg" alt="product" class="slider-item__img">
                                </div>
                                <div class="article-slider__item slider-item">
                                    <img src="./img/product.jpg" alt="product" class="slider-item__img">
                                </div>
                                <div class="article-slider__item slider-item">
                                    <img src="./img/product.jpg" alt="product" class="slider-item__img">
                                </div>

                            </div>
                            <!-- If we need pagination -->
                            <div class="article-slider__pagination"></div>

                        </div>

                        <div class="catalog-article__footer article-footer">
                            <button class="btn btn-reset btn--blue">Оставить заявку</button>
                            <button class="btn btn-reset article-footer__detail-btn">← Детальная информация</button>
                        </div>
                    </article>
                </li>
                <li class="catalog-tab__item">
                    <article class="catalog-tab__article catalog-article">
                        <div class="catalog-article__header">
                            <h4 class="catalog-article__title">Настенный кондиционер ALMACOM</h4>
                            <span class="catalog-article__series">Серия INVERTER DIAMOND</span>
                        </div>
                        <!-- Slider main container -->
                        <div class="catalog-article__body article-slider">
                            <!-- Additional required wrapper -->
                            <div class="article-slider__wrapper">
                                <!-- Slides -->
                                <div class="article-slider__item slider-item">
                                    <img src="./img/product.jpg" alt="product" class="slider-item__img">
                                </div>
                                <div class="article-slider__item slider-item">
                                    <img src="./img/product.jpg" alt="product" class="slider-item__img">
                                </div>
                                <div class="article-slider__item slider-item">
                                    <img src="./img/product.jpg" alt="product" class="slider-item__img">
                                </div>

                            </div>
                            <!-- If we need pagination -->
                            <div class="article-slider__pagination"></div>

                        </div>

                        <div class="catalog-article__footer article-footer">
                            <button class="btn btn-reset btn--blue">Оставить заявку</button>
                            <button class="btn btn-reset article-footer__detail-btn">← Детальная информация</button>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</section>
