<section class="catalog" id="catalog">
  <div class="container">
    <h2 class="catalog__title title">Кондиционеры</h2>
    <h3 class="catalog__subtitle subtitle">Цены на кондиционеры в Караганде</h3>
    <div class="catalog__tab catalog-tab">
      <ul class="catalog-tab__header tab-header">
        <li class="tab-header__item">
          <a class="tab-header__link active" href="#">
              Almacom
            </a>
        </li>
        <li class="tab-header__item">
          <a class="tab-header__link" href="#">
              Gree
            </a>
        </li>
        <li class="tab-header__item">
          <a class="tab-header__link" href="#">
              LG
            </a>
        </li>
        <li class="tab-header__item">
          <a class="tab-header__link" href="#">
              Media
            </a>
        </li>
        <li class="tab-header__item">
          <a class="tab-header__link" href="#">
              Quantex
            </a>
        </li>
        <li class="tab-header__item">
          <a class="tab-header__link" href="#">
              Кронштейны
            </a>
        </li>
      </ul>
      <ul class="catalog-tab__list">
        <li class="catalog-tab__item">
          <article class="catalog-tab__article catalog-article">
            <div class="catalog-article__header">
              <h4 class="catalog-article__title">
                Настенный кондиционер ALMACOM
              </h4>
              <span class="catalog-article__text">
                Серия
                <span class="catalog-article__serial">INVERTER DIAMOND
                </span>
              </span>
            </div>
            <div class="catalog-article__body article-info">
              <div class="article-info__wrapper">
                <dl class="article-info__list">
                  <div class="article-info__item">
                    <dt class="article-info__name">Производитель</dt>
                    <dd class="article-info__descr">Almacom</dd>
                  </div>
                  <div class="article-info__item">
                    <dt class="article-info__name">Площадь</dt>
                    <dd class="article-info__descr">15-20 м2</dd>
                  </div>
                  <div class="article-info__item">
                    <dt class="article-info__name">Гарантия</dt>
                    <dd class="article-info__descr">36 мес</dd>
                  </div>
                  <div class="article-info__item">
                    <dt class="article-info__name">Сплит-система</dt>
                    <dd class="article-info__descr">простая</dd>
                  </div>
                  <div class="article-info__item">
                    <dt class="article-info__name">Инсталяция</dt>
                    <dd class="article-info__descr">Да</dd>
                  </div>
                  <div class="article-info__item">
                    <dt class="article-info__name">Тип кондиционера</dt>
                    <dd class="article-info__descr">Настенный</dd>
                  </div>
                </dl>
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="article-slider__item slider-item swiper-slide">
                      <img src="./img/product.jpg" alt="product" class="slider-item__img" />
                    </div>
                    <div class="article-slider__item slider-item swiper-slide">
                      <img src="./img/product.jpg" alt="product" class="slider-item__img" />
                    </div>
                    <div class="article-slider__item slider-item swiper-slide">
                      <img src="./img/product.jpg" alt="product" class="slider-item__img" />
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
            <div class="catalog-article__footer article-footer">
              <button class="btn btn-reset btn--blue btn--big article-footer__btn">Оставить заявку</button>
              <button class="btn btn-reset article-footer__detail-btn detail-btn-js" id="detailBtn">
                <span>&#8592;</span> Детальная информация
              </button>
            </div>
          </article>
        </li>
        <li class="catalog-tab__item">
          <article class="catalog-tab__article catalog-article">
            <div class="catalog-article__header">
              <h4 class="catalog-article__title">
                Настенный кондиционер ALMACOM
              </h4>
              <span class="catalog-article__text">
                Серия
                <span class="catalog-article__serial">INVERTER DIAMOND
                </span>
              </span>
            </div>
            <div class="catalog-article__body article-info">
              <div class="article-info__wrapper">
                <dl class="article-info__list">
                  <div class="article-info__item">
                    <dt class="article-info__name">Производитель</dt>
                    <dd class="article-info__descr">Almacom</dd>
                  </div>
                  <div class="article-info__item">
                    <dt class="article-info__name">Площадь</dt>
                    <dd class="article-info__descr">15-20 м2</dd>
                  </div>
                  <div class="article-info__item">
                    <dt class="article-info__name">Гарантия</dt>
                    <dd class="article-info__descr">36 мес</dd>
                  </div>
                  <div class="article-info__item">
                    <dt class="article-info__name">Сплит-система</dt>
                    <dd class="article-info__descr">простая</dd>
                  </div>
                  <div class="article-info__item">
                    <dt class="article-info__name">Инсталяция</dt>
                    <dd class="article-info__descr">Да</dd>
                  </div>
                  <div class="article-info__item">
                    <dt class="article-info__name">Тип кондиционера</dt>
                    <dd class="article-info__descr">Настенный</dd>
                  </div>
                </dl>
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="article-slider__item slider-item swiper-slide">
                      <img src="./img/product.jpg" alt="product" class="slider-item__img" />
                    </div>
                    <div class="article-slider__item slider-item swiper-slide">
                      <img src="./img/product.jpg" alt="product" class="slider-item__img" />
                    </div>
                    <div class="article-slider__item slider-item swiper-slide">
                      <img src="./img/product.jpg" alt="product" class="slider-item__img" />
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
            <div class="catalog-article__footer article-footer">
              <button class="btn btn-reset btn--blue btn--big article-footer__btn">Оставить заявку</button>
              <button class="btn btn-reset article-footer__detail-btn detail-btn-js" id="detailBtn">
                <span>&#8592;</span> Детальная информация
              </button>
            </div>
          </article>
        </li>
        <li class="catalog-tab__item">
          <article class="catalog-tab__article catalog-article">
            <div class="catalog-article__header">
              <h4 class="catalog-article__title">
                Настенный кондиционер ALMACOM
              </h4>
              <span class="catalog-article__text">
                Серия
                <span class="catalog-article__serial">INVERTER DIAMOND
                </span>
              </span>
            </div>
            <div class="catalog-article__body article-info">
              <div class="article-info__wrapper">
                <dl class="article-info__list">
                  <div class="article-info__item">
                    <dt class="article-info__name">Производитель</dt>
                    <dd class="article-info__descr">Almacom</dd>
                  </div>
                  <div class="article-info__item">
                    <dt class="article-info__name">Площадь</dt>
                    <dd class="article-info__descr">15-20 м2</dd>
                  </div>
                  <div class="article-info__item">
                    <dt class="article-info__name">Гарантия</dt>
                    <dd class="article-info__descr">36 мес</dd>
                  </div>
                  <div class="article-info__item">
                    <dt class="article-info__name">Сплит-система</dt>
                    <dd class="article-info__descr">простая</dd>
                  </div>
                  <div class="article-info__item">
                    <dt class="article-info__name">Инсталяция</dt>
                    <dd class="article-info__descr">Да</dd>
                  </div>
                  <div class="article-info__item">
                    <dt class="article-info__name">Тип кондиционера</dt>
                    <dd class="article-info__descr">Настенный</dd>
                  </div>
                </dl>
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="article-slider__item slider-item swiper-slide">
                      <img src="./img/product.jpg" alt="product" class="slider-item__img" />
                    </div>
                    <div class="article-slider__item slider-item swiper-slide">
                      <img src="./img/product.jpg" alt="product" class="slider-item__img" />
                    </div>
                    <div class="article-slider__item slider-item swiper-slide">
                      <img src="./img/product.jpg" alt="product" class="slider-item__img" />
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
            <div class="catalog-article__footer article-footer">
              <button class="btn btn-reset btn--blue btn--big article-footer__btn">Оставить заявку</button>
              <button class="btn btn-reset article-footer__detail-btn detail-btn-js" id="detailBtn">
                <span>&#8592;</span> Детальная информация
              </button>
            </div>
          </article>
        </li>
      </ul>
      <button class="btn btn-reset catalog-tab__more">↓ Показать еще ↓</button>
    </div>
  </div>
</section>
