<footer class="footer">
  <div class="footer__container">
    <div class="footer__inner">
      <div class="footer__logo logo">
        <img src="../img/logo.svg" alt="logo">
      </div>
      <div class="footer__agreement">
        <p class="footer__text">
          Продажа кондиционеров и сплит систем в Караганде
        </p>
        <a href="agreement.pdf" class="footer-agreement__link">Политика конфиденциальности</a>
      </div>
      <div class="footer__site-developer site-developer">
        <div class="site-developer__info">
          <p class="site-developer__text">Разработка сайта</p>
          <a href="https://proseogroup.ru/" class="site-developer__link" target="_blank" rel="nofollow">Proseogroup.ru</a>
        </div>
        <svg>
          <use xlink:href="./img/sprite.svg#proseo">
          </use>
        </svg>
      </div>
    </div>
  </div>
</footer>
