<footer class="footer" id="footer">
  <div class="container footer__inner">
      <div class="footer__logo logo">
        <img src="../img/footer-logo.svg" alt="logo">
      </div>
      <div class="footer__agreement footer-agreement">
        <p class="footer__text">
          Продажа кондиционеров и сплит систем в Караганде
        </p>
        <button class="btn btn-reset footer-agreement__btn agreement__btn" data-modal="modal-agreement">Политика конфиденциальности</button>
      </div>
      <div class="footer__site-developer site-developer">
        <p class="site-developer__text">Разработка сайта <a href="https://proseogroup.ru/" class="site-developer__link" target="_blank" rel="nofollow">Proseogroup.ru</a></p>
        <svg class="proseo">
          <use xlink:href="./img/sprite.svg#proseo">
          </use>
        </svg>
      </div>
    </div>
</footer>
<a href="#intro" class="scroll-top">
  <svg>
    <use xlink:href="img/sprite.svg#scroll-top">
    </use>
  </svg>
</a>
<div class="site-btn--fixed__overlay">
  <button class="btn btn-reset btn--black btn--sm site-btn--fixed" data-modal="modal-data">Узнать стоимость</button>
</div>
