<footer class="footer" id="footer">
  <div class="container footer__inner">
      <div class="footer__logo logo">
        <img src="../img/footer-logo.svg" alt="logo">
      </div>
      <div class="footer__agreement footer-agreement">
        <p class="footer__text">
          Продажа кондиционеров и сплит систем в Караганде
        </p>
        <a href="agreement.pdf" class="footer-agreement__link agreement">Политика конфиденциальности</a>
      </div>
      <div class="footer__site-developer site-developer">
        <p class="site-developer__text">Разработка сайта <a href="https://proseogroup.ru/" class="site-developer__link" target="_blank" rel="nofollow">Proseogroup.ru</a></p>
        <svg class="proseo">
          <use xlink:href="./img/sprite.svg#proseo">
          </use>
        </svg>
      </div>
    </div>
</footer>
