<section class="intro" id="intro">
    <div class="container">
        @include('./header.html')

        <div class="intro__inner">
            <p class="intro__description">Продажа кондиционеров и сплит систем в Караганде</p>
            <h1 class="intro__title title">Продажа кондиционеров и сплит систем в&nbsp;Караганде с&nbsp;установкой</h1>
            <ul class="intro__info intro-info">
                <li class="intro-info__item">
                    <img class="intro-info__icon" src="../img/dollar.svg" alt="dollar">
                    <span class="intro-info__text">Работаем напрямую с поставщиками</span>
                </li>
                <li class="intro-info__item">
                    <img class="intro-info__icon" src="../img/show-dollar.svg" alt="dollar">
                    <span class="intro-info__text">Цены поставщиков</span>
                </li>
                <li class="intro-info__item">
                    <img class="intro-info__icon" src="../img/certificate.svg" alt="certificate">
                    <span class="intro-info__text">Реальные сроки и гарантии, заявленные поставщиками по паспорту до 36 месяцев</span>
                </li>
            </ul>
        </div>

    </div>
</section>

