<div class="nav-wrapper">
  <nav class="nav" id="nav">
     <svg>
         <use xlink:href="../img/sprite.svg#nav-logo">
         </use>
     </svg>
    <ul class="nav__list">
      <li class="nav__item">
        <a href="#intro" class="nav__link">
          <div class="nav-item__icon">
            <svg>
              <use xlink:href="img/sprite.svg#menu-home"></use>
            </svg>
          </div>
          <div class="nav-item__info">
            <span class="nav__link-text">Наверх</span>
          </div>
        </a>
      </li>
      <li class="nav__item">
        <a href="#catalog" class="nav__link">
          <div class="nav-item__icon">
            <svg>
              <use xlink:href="img/sprite.svg#menu-catalog"></use>
            </svg>
          </div>
          <div class="nav-item__info">
            <span class="nav__link-text">Каталог</span>
          </div>
        </a>
      </li>
      <li class="nav__item">
        <a href="#advantages" class="nav__link">
          <div class="nav-item__icon">
            <svg>
              <use xlink:href="img/sprite.svg#menu-advantages"></use>
            </svg>
          </div>
          <div class="nav-item__info">
            <span class="nav__link-text">Преимущества</span>
          </div>
        </a>
      </li>
      <li class="nav__item">
        <a href="#offer" class="nav__link">
          <div class="nav-item__icon">
            <svg>
              <use xlink:href="img/sprite.svg#menu-kaspi"></use>
            </svg>
          </div>
          <div class="nav-item__info">
            <span class="nav__link-text">Kaspi Red</span>
          </div>
        </a>
      </li>
      <li class="nav__item">
        <a href="#buy" class="nav__link">
          <div class="nav-item__icon">
            <svg>
              <use xlink:href="img/sprite.svg#menu-buy"></use>
            </svg>
          </div>
          <div class="nav-item__info">
            <span class="nav__link-text">Оставить заявку</span>
          </div>
        </a>
      </li>
      <li class="nav__item">
        <a href="#questions" class="nav__link">
          <div class="nav-item__icon">
            <svg>
              <use xlink:href="img/sprite.svg#menu-questions"></use>
            </svg>
          </div>
          <div class="nav-item__info">
            <span class="nav__link-text">Контакты</span>
          </div>
        </a>
      </li>
      <li class="nav__item">
        <a href="#questions-bottom" class="nav__link nav__link-phone">
          <div class="nav-item__icon">
            <svg>
              <use xlink:href="img/sprite.svg#menu-phone"></use>
            </svg>
          </div>
          <div class="nav-item__info">
            <a class="nav-item__link" href="+77212911010">+7 (7212) 91 10 10</a>
            <a class="nav-item__link" href="+77017958446">+7 (701) 795 84 46</a>
          </div>
        </a>
      </li>
    </ul>
  </nav>
</div>
