<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item">
            <svg>
                <use xlink:href="img/sprite.svg#menu1">
                </use>
            </svg>
        </li>
        <li class="nav__item">
            <svg>
                <use xlink:href="img/sprite.svg#menu2">
                </use>
            </svg>
        </li>
        <li class="nav__item">
            <svg>
                <use xlink:href="img/sprite.svg#menu3">
                </use>
            </svg>
        </li>
        <li class="nav__item">
            <svg>
                <use xlink:href="img/sprite.svg#menu4">
                </use>
            </svg>
        </li>
        <li class="nav__item">
            <svg>
                <use xlink:href="img/sprite.svg#menu5">
                </use>
            </svg>
        </li>
        <li class="nav__item">
            <svg>
                <use xlink:href="img/sprite.svg#menu6">
                </use>
            </svg>
        </li>
    </ul>
</nav>
