<div class="nav-wrapper">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="#intro" class="nav__link">
                    <svg>
                        <use xlink:href="img/sprite.svg#menu-home">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="nav__item">
                <a href="#catalog" class="nav__link">
                    <svg>
                        <use xlink:href="img/sprite.svg#menu-catalog">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="nav__item">
                <a href="#advantages" class="nav__link">
                    <svg>
                        <use xlink:href="img/sprite.svg#menu-advantages">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="nav__item">
                <a href="#offer" class="nav__link">
                    <svg>
                        <use xlink:href="img/sprite.svg#menu-kaspi">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="nav__item">
                <a href="#buy" class="nav__link">
                    <svg>
                        <use xlink:href="img/sprite.svg#menu-buy">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="nav__item">
                <a href="#questions" class="nav__link">
                    <svg>
                        <use xlink:href="img/sprite.svg#menu-questions">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="nav__item">
                <a href="#footer" class="nav__link">
                    <svg>
                        <use xlink:href="img/sprite.svg#menu-phone">
                        </use>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
</div>
