<section class="price" id="price">
    <div class="container price__inner">
        <div class="price__left">
            <span class="price__text">Скачайте</span>
            <h2 class="price__title">полный прайс-лист кондиционеров</h2>
            <p class="price__condition">* необходимо только остаивть ваш e-mail адрес</p>
        </div>
        <div class="price__right">
            <button class="btn btn-reset btn--black btn--big price__btn" data-modal="modal-email">Скачать прайс-лист</button>
        </div>
    </div>
</section>
