<section class="questions">
    <div class="questions__top">
        <div id="map">
            <div class="questions__content">
                <h2 class="questions__title title">Остались вопросы?</h2>
                <h3 class="questions__subtitle subtitle">Остались вопросы?</h3>
                <div class="questions__info questions-info">
                    <div class="questions-info__column">
                        <div class="questions-info__icon">
                            <svg>
                                <use xlink:href="img/sprite.svg#location">
                                </use>
                            </svg>
                            <address class="questions-info__text">г. Караганда, ул. Ерубаева 66, офис 14</address>
                        </div>
                    </div>
                    <div class="questions-info__column">
                        <div class="questions-info__icon">
                            <svg>
                                <use xlink:href="img/sprite.svg#watch">
                                </use>
                            </svg>
                            <p class="questions-info__text">ПН-ПТ с <time>9:00 до 18:00</time></p>
                            <p class="questions-info__text">СБ с <time>9:00 до 16:00</time></p>
                            <p class="questions-info__text">ВС выходной</p>
                        </div>
                    </div>
                    <div class="questions-info__column">
                        <div class="questions-info__icon">
                            <svg>
                                <use xlink:href="img/sprite.svg#phone">
                                </use>
                            </svg>
                            <a href="tel:+7 (7212) 91 10 10" class="questions-info__link">+7 (7212) 91 10 10</a>
                            <a href="tel:+7 (701) 795 84 46" class="questions-info__link">+7 (701) 795 84 46</a>
                        </div>
                    </div>
                    <div class="questions-info__column">
                        <div class="questions-info__icon">
                            <svg>
                                <use xlink:href="img/sprite.svg#mail">
                                </use>
                            </svg>
                            <a href="mailto:info@tcservice.kz" class="questions-info__link">info@tcservice.kz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="questions__bottom">
        <form action="mail.php" class="questions-bottom__form questions-form">
            <h3 class="questions__subtitle subtitle">Или заполните формы и мы вам перезвоним</h3>
            <div class="questions-form__inner">
                <input type="text" class="questions-form__input form-input" placeholder="Имя*">
                <input type="number" class="questions-form__input form-input" placeholder="Телефон*">
                <button class="btn btn-reset btn--blue" type="submit">Заказать</button>
            </div>
        </form>
    </div>
</section>
