<section class="intro thanks">
    <div class="container">
        @include('./header.html')

        <div class="intro__inner">
            <adress class="intro__address">г. Караганда, ул. Ерубаева 66, офис 14 </adress>
            <p class="intro__description">Продажа кондиционеров и сплит систем в Караганде</p>
            <h1 class="thanks__title title">Спасибо за заявку!</h1>
            <p class="thanks__text">Менеджер перезвонит в ближайшее время</p>
            <ul class="intro__info intro-info">
                <li class="intro-info__item">
                    <img class="intro-info__icon" src="./img/dollar.svg" alt="dollar">
                    <span class="intro-info__text">Работаем напрямую с поставщиками</span>
                </li>
                <li class="intro-info__item">
                    <img class="intro-info__icon" src="../img/show-dollar.svg" alt="dollar">
                    <span class="intro-info__text">Цены поставщиков</span>
                </li>
                <li class="intro-info__item">
                    <img class="intro-info__icon" src="../img/certificate.svg" alt="certificate">
                    <span class="intro-info__text">Реальные сроки и гарантии, заявленные поставщиками по паспорту до 36
                        месяцев</span>
                </li>
            </ul>
        </div>

    </div>
</section>
