html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat-Regular", sans-serif;
  background-color: #fff;
  color: $black;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-label {
  position: relative;
}

.input {
  position: relative;
  padding: 19px 10px 10px;
  font-size: 16px;
  line-height: 20px;
  color: $blue;
  transition: .2s ease-in-out;
  appearance: none;
  border: none;
  background-color: #fff;
}

.input-span {
  font-size: 16px;
  line-height: 20px;
  color: $black;
  transition: .2s ease-in-out;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.input:focus ~ .input-span, .input:valid ~ .input-span {
  transform: translateY(-24px);
  font-size: 11px;
  color: $blue;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  position: relative;
  overflow: hidden;
  max-width: 1600px;
  margin: 0 auto;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.btn {
  font-family: "Montserrat-Bold";
}

.btn--sm {
  padding: 10px 22px 9px;
  font-size: 16px;
  line-height: 20px;
}

.btn--big {
  padding: 14px 48px 15px;
  font-size: 16px;
  line-height: 20px;
}

.btn--black {
  background: $black;
  color: #fff;
  transition: color 0.2s ease-in;
  &:hover {
    color: $blue;
  }
}
.btn--blue {
  background: $blue;
  color: #fff;
  transition: color 0.2s ease-in , background-color 0.2s ease-in;
  &:hover {
    color: $blue;
    background-color: #fff;
  }
}

h2.title,
h1.title {
  font-family: "Montserrat-Bold";
  font-size: 42px;
  line-height: 51px;
  font-weight: 700;
}

h3.subtitle {
  font-family: "Montserrat-Medium";
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
}

.agreement {
  font-size: 12px;
  line-height: 17px;
  &__link {
    text-decoration: underline;
    color: $black;
  }
}

.address {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}
