@import "./mixins";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat-Regular", sans-serif;
  background-color: #fff;
  color: $black;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input-label {
  position: relative;
}

.input {
  position: relative;
  padding: 19px 10px 10px;
  font-size: 16px;
  line-height: 20px;
  color: $blue;
  transition: 0.2s ease-in-out;
  appearance: none;
  border: none;
  background-color: #fff;
  outline: none;

  &--bordered {
    border: 2px solid $black;
    outline: none;
    &:focus,
    &:valid {
      border-color: $blue;
    }
  }
}

.input-span {
  font-size: 16px;
  line-height: 20px;
  color: $black;
  transition: 0.2s ease-in-out;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.input:focus ~ .input-span,
.input:valid ~ .input-span {
  transform: translateY(-24px);
  font-size: 11px;
  color: $blue;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  position: relative;
  overflow: hidden;
  max-width: 1600px;
  margin: 0 auto;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.overflow-hidden {
  overflow: hidden;
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;

  @include desktop-md {
    max-width: 1490px;
    padding: 0 150px;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.btn {
  font-family: "Montserrat-Bold";
}

.btn--sm {
  padding: 10px 22px 9px;
  font-size: 16px;
  line-height: 20px;
}

.btn--big {
  padding: 14px 48px 15px;
  font-size: 16px;
  line-height: 20px;
}

.btn--black {
  background: $black;
  color: #fff;
  transition: color 0.2s ease-in;
  border: 2px solid $black;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  &:hover {
    color: $black;
    background-color: #fff;
  }
}
.btn--blue {
  background: $blue;
  color: #fff;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
  border: 2px solid $blue;
  &:hover {
    color: $blue;
    background-color: #fff;
  }
}

h2.title,
h1.title {
  font-family: "Montserrat-Bold";
  font-size: 42px;
  line-height: 51px;
  font-weight: 700;
}

h3.subtitle {
  font-family: "Montserrat-Medium";
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
}

.agreement {
  font-size: 12px;
  line-height: 17px;
  &__btn {
    text-decoration: underline;
    color: $black;
    padding: 0;
    font-family: "Montserrat-Regular", sans-serif;
    font-weight: 400;
    transition: text-decoration 0.2s ease-in-out;
    &:hover {
      text-decoration-color: transparent;
    }
  }
}

.address {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.scroll-top {
  position: fixed;
  // bottom: 200px;
  // right: 290px;
  bottom: 23%;
  right: 6%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  z-index: 999;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(111, 135, 157, 0.3);
  svg {
    width: 19px;
    height: 19px;
  }
}

.site-btn--fixed {
  position: fixed;
  min-width: 270px;
  top: 40%;
  right: 38px;
  transform: rotate(270deg);

  &__overlay {
    position: absolute;
    z-index: 999;
    min-width: 270px;
    height: auto;
    @include desktop-big {
      display: none;
    }
  }
  @include desktop-big {
    display: none;
  }
}

.back-main {
  padding: 80px 0;
  &__info {
    display: flex;
    align-items: center;

    @include desktop-md {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__span {
    font-family: "Montserrat-Medium", sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    display: inline-block;
    margin-right: 45px;
    @include desktop-md {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  &__number {
    position: relative;
    font-family: "Montserrat-Bold", sans-serif;
    display: inline-flex;
    padding-left: 65px;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    color: $black;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: $blue;
    }
    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/phone.svg");
      background-size: cover;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__btn {
    min-width: 310px;
    min-height: 50px;
    margin-top: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include desktop-md {
      margin-top: 20px;
    }
  }
}
